@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth bg-secondary font-aref
  }
}
.program{
  direction: rtl;
}
.MuiSvgIcon-root{
  font-size: 1.5rem;
  color: #fca311;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: #fca311 !important;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border: 1px solid #fca311 !important;
}